@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
    @font-face {
        font-family: Macan-Medium;
        src: url('./fonts/macan/MacanPanWeb-Medium.ttf');
      }
      @font-face {
        font-family: Macan-Light;
        src: url('./fonts/macan/MacanPanWeb-Light.ttf');
      }
      @font-face {
        font-family: Macan-Semibold;
        src: url('./fonts/macan/MacanPanWeb-Semibold.ttf');
      }
      @font-face {
        font-family: Macan-Regular;
        src: url('./fonts/macan/MacanPanWeb-Regular.ttf');
      }
      .navText, .name{
        font-family: 'Macan-Medium';
      }
      .desc{
        font-family: 'Macan-Light';
      }
      .bigText{
        font-family: 'Macan-Semibold';
      }
      .scrollbar::-webkit-scrollbar{
        width: 5px;
      }
      .scrollbarFinal::-webkit-scrollbar{
        width: 1px;
        background-color: #011E17;
      }
      .scrollbarNew::-webkit-scrollbar{
        height: 0px;
      }
      .editTitle{
        font-family: 'Macan-Regular';
      }
      .custom-dropdown {
        min-width: 12rem;
      }
      .chat-button {
        animation: slide-up 1s ease-out forwards;
        position: fixed;
        bottom: 20px; /* Adjust this value to the desired position from the bottom */
        right: 8px; /* Ensure it's aligned horizontally where you want it */
      }
      
      @keyframes slide-up {
        0% {
          transform: translateY(100px); /* Start 100px below its final position */
          opacity: 0; /* Fully transparent at the start */
        }
        100% {
          transform: translateY(0); /* Final position */
          opacity: 1; /* Fully visible */
        }
      }
}